<!DOCTYPE html>
<html>
  <head>
    <title>아유 - 상점</title>
    <meta charset="utf-8">
    <script data-ad-client="ca-pub-2701426579223876" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/819572615521107988/831534161755635722/1550868149376.png" style="border-radius: 10px;">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
          <%- include('../header'); -%>
        </script> 
  <div class="d-flex justify-content-center command_head" style="margin-top: 200px;">
      <h1> 상점 </h1>
  </div>
  <div class="container" style="text-align: center; margin-top: 40px; margin-bottom: 50px;">
    <script type="text/javascript">
      if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent))
      {(function(){document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
      else{(function(){document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&rt_ad_id_code=RTA_106578&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>');})();}
    </script>
  <div class="container" style="background-color: #36393f; border-radius: 20px; display: block;  width: 100%; height: 100%; position: relative; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19); margin-top: 40px; padding-top: 20px; padding-bottom: 20px;">
    <% if (user) { %>
      <p style="font-size: 30px;"> <%- user.username %>님 안녕하세요!</p> <p id="username" style="display: None;"><%- user.username %></p><p id="useremail" style="display: None;"><%- user.email %></p>
      <span><p><button type="button" class="btn btn-dark" id="logout" style="margin-bottom: 7px; background-color: #212529; color: white; transition: all .2s ease-in-out;">로그아웃</button></p></span>
      <div class="container" style="text-align: center;">
        <p>현제 테스트 중이므로 추후 초기화 예정입니다</p>
        <p>실제 결제가 되지 않는 테스트 입니다</p>
        <select class="form-select mb-3" id="orderType" style="width: 30%; margin: 0 auto;">
          <option value="카드" selected>카드</option>
          <option value="휴대폰">휴대폰</option>
          <option value="문화상품권">문화상품권</option>
        </select>
        <div class="row">
          <div class="col-sm" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 style="margin-top: 10px;">500AU</h2>
            <div class="imgclass">
              <img class="imageclass" src="https://cdn.discordapp.com/attachments/819572615521107988/837960653091504168/2032152.png">
            </div>
            <h4>500원</h4>
            <button type="button" class="btn btn-dark" id="payment-button-1" >구매하기</button>
          </div>
          <div class="col-sm" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 style="margin-top: 10px;">1000AU</h2>
            <div class="imgclass">
              <img class="imageclass" src="https://cdn.discordapp.com/attachments/819572615521107988/837960653091504168/2032152.png">
            </div>
            <h4>1000원</h4>
            <button type="button" class="btn btn-dark" id="payment-button-2">구매하기</button>
          </div>
          <div class="col-sm" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 style="margin-top: 10px;">10000AU</h2>
            <div class="imgclass">
              <img class="imageclass" src="https://cdn.discordapp.com/attachments/819572615521107988/837960653091504168/2032152.png">
            </div>
            <h4>10000원</h4>
            <button type="button" class="btn btn-dark" id="payment-button-3">구매하기</button>
          </div>
        </div>
      
        </div>
      </div>
  <% } else { %>
    <button type="button" class="btn btn-dark" id="login" style="margin-top: 20px; background-color: #212529; color: white; transition: all .2s ease-in-out;">로그인</button>
  <% } %>
</div>
</div>

  <div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
    <script type="text/javascript">
        if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent)) { (function () { document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
        else { (function () { document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&rt_ad_id_code=RTA_106578&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
    </script>
</div>
    <%- include('../footer'); -%>
  </body>
</html>
<script>
  var login = document.getElementById("login");
  login.addEventListener("click", function () {
    window.location = "/authorize"
  });
</script>
<script>
  var logout = document.getElementById("logout");
  logout.addEventListener("click", function () {
    window.location = "authorize/logout"
  });
</script>

<script src="https://js.tosspayments.com/v1"></script>
    <script>
      var PatmentsKey = "test_ck_N5OWRapdA8dGmREBGmbro1zEqZKL"

      var userid = document.getElementById("username").innerText
      var useremail = document.getElementById("useremail").innerText
      
      var tossPayments = TossPayments(PatmentsKey);

      var button1 = document.getElementById("payment-button-1");

      button1.addEventListener("click", function () {
        tossPayments
          .requestPayment(document.getElementById("orderType").value, {
            amount: 500,
            orderId: "<%= orderId %>",
            orderName: "500AU",
            customerName: userid,
            customerEmail: useremail,
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            __v3__: false,
          })
          .catch(function (error) {
            if (error.code === "USER_CANCEL") {
              // 취소 관련 처리
            }
          });
      });
      var tossPayments = TossPayments(PatmentsKey);

      var button2 = document.getElementById("payment-button-2");

      button2.addEventListener("click", function () {
        tossPayments
          .requestPayment(document.getElementById("orderType").value, {
            amount: 1000,
            orderId: "<%= orderId %>",
            orderName: "1000AU",
            customerEmail: useremail,
            customerName: userid,
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            __v3__: false,
          })
          .catch(function (error) {
            if (error.code === "USER_CANCEL") {
              // 취소 관련 처리
            }
          });
      });
      var tossPayments = TossPayments(PatmentsKey);

      var button3 = document.getElementById("payment-button-3");

      button3.addEventListener("click", function () {
        tossPayments
          .requestPayment(document.getElementById("orderType").value, {
            amount: 10000,
            orderId: "<%= orderId %>",
            orderName: "10000AU",
            customerEmail: useremail,
            customerName: userid,
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            __v3__: false,
          })
          .catch(function (error) {
            if (error.code === "USER_CANCEL") {
              // 취소 관련 처리
            }
          });
      });
  </script>
    
    <script src="https://js.tosspayments.com/v1/openpay"></script>
    <script>
      window.addEventListener("message", function (event) {
        console.log(JSON.stringify(event.data));
      });

      var connectpay = OpenPay(
        PatmentsKey,
        "hyunseob-15",
        {
          redirectUrl: "http://localhost:8080/callback_auth"
        }
      );

      var connectpay = OpenPay(
        PatmentsKey,
        "hyunseob-15",
        {
          redirectUrl: "http://localhost:8080/callback_auth",
        }
      );

      var button1 = document.getElementById("payment-button-1");

      button1.addEventListener("click", function () {
        connectpay.requestPayment({
          amount: 500,
          orderId: "<%= orderId %>",
          orderName: "500AU",
          successUrl: window.location.origin + "/success",
          failUrl: window.location.origin + "/fail",
        });
      });

      var button2 = document.getElementById("payment-button-2");

      button2.addEventListener("click", function () {
        connectpay.requestPayment({
          amount: 1000,
          orderId: "<%= orderId %>",
          orderName: "1000AU",
          successUrl: window.location.origin + "/success",
          failUrl: window.location.origin + "/fail",
        });
      });
      var button3 = document.getElementById("payment-button-3");

      button3.addEventListener("click", function () {
        connectpay.requestPayment({
          amount: 10000,
          orderId: "<%= orderId %>",
          orderName: "10000AU",
          successUrl: window.location.origin + "/success",
          failUrl: window.location.origin + "/fail",
        });
      });
    </script>